@using Microsoft.AspNet.Identity
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Biblioteka", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Książki", "Index", "Books")</li>
                    <li>@Html.ActionLink("Autorzy", "Index", "Authors")</li>
                    <li>@Html.ActionLink("Gatunki", "Index", "Genres")</li>
                    <li>@Html.ActionLink("Cykle", "Index", "Series")</li>
                    @if (Request.IsAuthenticated)
                    {
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                Moje
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li>@Html.ActionLink("Ulubione", "Index", "Books", new { MyBooks = "isFavorite" }, null)</li>
                                <li>@Html.ActionLink("Przeczytane", "Index", "Books", new { MyBooks = "isRead" }, null)</li>
                                <li>@Html.ActionLink("Do przeczytania", "Index", "Books", new { MyBooks = "isOnWishList" }, null)</li>
                            </ul>
                        </li>
                    }
                    @*<li>@Html.ActionLink("O mnie", "About", "Home")</li>
                      <li>@Html.ActionLink("Kontakt", "Contact", "Home")</li>*@
                    <li>@Html.ActionLink("Dodaj książkę", "Create", "Books")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
